.success {
    font-size: 30px;
    color: green;
    background-color: lightgray;
    border: 5px green solid;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 
}

.error {
    font-size: 30px;
    color: red;
    background-color: lightyellow;
    border: 5px red solid;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}